QWidget {
  background-color: #283542;
  border: 0px solid #455364;
  padding: 0px;
  color: #E0E1E3;
}

QTreeView {
  background-color: #183a5c;
  border: 0px solid #455364;
  padding: 0px;
  color: #E0E1E3;
}

QScrollBar:horizontal {
  border: 2px solid #455364;
  background: #283542;
  height: 10px;
  margin: 0px 10px 0px 10px;
}

QScrollBar:vertical {
  border: 2px solid #455364;
  background: #283542;
  width: 10px;
  margin: 10px 0px 10px 0px;
}