<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Daruma</Name>
    <Version>1.0.0</Version>
    <Title>Daruma Installer</Title>
    <Publisher>SiderealArt</Publisher>
    <StartMenuDir>Daruma</StartMenuDir>
    <TargetDir>@ApplicationsDir@/Daruma</TargetDir>
    <InstallerIcon>../favicon.ico</InstallerIcon>
    <ProductUrl>https://siderealart.me</ProductUrl>
</Installer>